.wrapper{
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.side-header{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-name a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}
.chat-edit a{
  border: 1px solid lightblue;
  padding: 14px;
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}

.side-main{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}
.chat-room{
  padding: 20px 0 40px;
}
.chat-name a{
  color: white;
  text-decoration: none;
}

.chat {
  background-color: #ffffff;
  width: calc(100% - 300px);
}
.chat-header{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.group-name{
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}
.chat-close{
  margin-top: 40px;
}
.chat-close a{
  padding: 20px;
  text-decoration: none;
  color: darkred;
  border: 1px solid darkred;
}

.chat-main{
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}
.message{
  padding: 10px 0;
  margin-bottom: 40px;
}
.send-situation{
  display: flex;
}
.send-user{
  font-size: 16px;
  color: #434a54;
}
.send-time{
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}
.send-message{
  font-size: 14px;
  color: #434a54;
}

.chat-footer{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}
.message-form{
  display: flex;
  justify-content: space-between;
}
.text-form{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
  background-color: white;
}
.input-form{
  width: 100%;
  position: relative;
}
.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.hidden{
  display: none;
}
.send-btn{
  height: 50px;
  padding: 0 20px;
  margin-left: 15px;
  background-color: #38aef0;
  color: white;
  font-size: 16px;
  cursor: pointer;
}